<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>


<!--<span class="border"></span>-->
<!--<span class="border-top"></span>-->
<!--<span class="border-right"></span>-->
<!--<span class="border-bottom"></span>-->
<!--<span class="border-left"></span>-->


<!--<span class="border-0"></span>-->
<!--<span class="border-top-0"></span>-->
<!--<span class="border-right-0"></span>-->
<!--<span class="border-bottom-0"></span>-->
<!--<span class="border-left-0"></span>-->


<!--<span class="border border-primary"></span>-->
<!--<span class="border border-secondary"></span>-->
<!--<span class="border border-success"></span>-->
<!--<span class="border border-danger"></span>-->
<!--<span class="border border-warning"></span>-->
<!--<span class="border border-info"></span>-->
<!--<span class="border border-light"></span>-->
<!--<span class="border border-dark"></span>-->
<!--<span class="border border-white"></span>-->


<!--<img src="..." alt="..." class="rounded">-->
<!--<img src="..." alt="..." class="rounded-top">-->
<!--<img src="..." alt="..." class="rounded-right">-->
<!--<img src="..." alt="..." class="rounded-bottom">-->
<!--<img src="..." alt="..." class="rounded-left">-->
<!--<img src="..." alt="..." class="rounded-circle">-->
<!--<img src="..." alt="..." class="rounded-0">-->

<button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>

<button>Yes</button>
<button class="btn">Yes</button>
<button class="btn btn-primary">Yes</button>
<button class="btn btn-danger btn-sm">Yes</button>
<button class="btn btn-success btn-lg">Yes</button>
<script th:src="@{/bootstrap/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.min.js}" ></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>